<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodappprototype">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodAppPrototype">
        <activity
            android:name=".Delaware"
            android:exported="false" />
        <activity
            android:name=".Connecticut"
            android:exported="false" />
        <activity
            android:name=".Colorado"
            android:exported="false" />
        <activity
            android:name=".California"
            android:exported="false" />
        <activity
            android:name=".Arkansas"
            android:exported="false" />
        <activity
            android:name=".Arizona"
            android:exported="false" />
        <activity
            android:name=".Alaska"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>